## 함수

In [1]:
def add(a, b): 
    return a + b

In [3]:
a=3
b=4
c=add(a,b)
print(c)

7

## 매개변수와 인수

In [4]:
def say(): 
     print('Hi')

In [5]:
a=say()

Hi

In [6]:
a

In [7]:
def add(a, b): 
    result = a + b 
    return result

In [8]:
a = add(3, 4)
print(a)

7

In [9]:
say()

Hi

In [11]:
def add_many(*args): 
    result = 0 
    print(args)
    for i in args: 
        result = result + i   # *args에 입력받은 모든 값을 더한다.
    return result

In [12]:
add_many(2,3)

(2, 3)

5

In [13]:
 def add_mul(choice, *args): 
     if choice == "add":   # 매개변수 choice에 "add"를 입력받았을 때
         result = 0 
         for i in args: 
             result = result + i 
     elif choice == "mul":   # 매개변수 choice에 "mul"을 입력받았을 때
         result = 1 
         for i in args: 
             result = result * i 
     return result

In [14]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [15]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

In [16]:
def print_kwargs(**kwargs):
     print(kwargs)

In [18]:
print_kwargs(a=1)

{'a': 1}

In [17]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

## 함수의 리턴값은 언제나 하나이다

In [21]:
def add_and_mul(a,b): 
    return a+b, a*b

In [23]:
result = add_and_mul(3,4)
result

(7, 12)

In [24]:
result1, result2 = add_and_mul(3, 4)

In [25]:
result1

7

In [26]:
result2

12

In [27]:
def add_and_mul(a,b): 
    return a+b 
    return a*b

In [28]:
result = add_and_mul(2, 3)
print(result)

5

In [29]:
def say_nick(nick): 
    if nick == "바보": 
        return 
    print("나의 별명은 %s 입니다." % nick)

In [30]:
say_nick('야호')

나의 별명은 야호 입니다.

In [31]:
say_nick('바보')

In [32]:
# default1.py
def say_myself(name, age, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [33]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [34]:
say_myself("박응선", 27, False)

나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

In [36]:
# vartest.py
a = 1
def vartest(a):
    a = a +1
    return a

vartest(a)
print(a)

1

In [37]:
vartest(a)

2

In [38]:
print(a)

1

In [39]:
# vartest_return.py
a = 1 
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

2

In [40]:
# vartest_global.py
a = 1 
def vartest(): 
    global a 
    a = a+1

vartest() 
print(a)

2

In [41]:
add = lambda a, b: a+b
result = add(3, 4)
result

7

## 사용자 입출력

In [42]:
a = input()

Life is too short, you need python

In [43]:
a

'Life is too short, you need python'

In [44]:
number = input("숫자를 입력하세요: ")

숫자를 입력하세요: 3

In [45]:
type(number)

str

In [46]:
print("life" "is" "too short")

lifeistoo short

In [47]:
print("life"+"is"+"too short")

lifeistoo short

In [48]:
for i in range(10):
     print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

## 파일 읽고 쓰기

In [51]:
# newfile.py
f = open("새파일.txt", 'r')
f

In [52]:
f.close()

In [53]:
# write_data.py
f = open("C:\workspace\WASSUP\python_grammer\새파일.txt", 'w')
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [54]:
# readline_test.py
f = open("C:\workspace\WASSUP\python_grammer\새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [63]:
# readline_all.py
f = open("새파일.txt", 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

<class 'str'>
1번째 줄입니다.

<class 'str'>
2번째 줄입니다.

<class 'str'>
3번째 줄입니다.

<class 'str'>
4번째 줄입니다.

<class 'str'>
5번째 줄입니다.

<class 'str'>
6번째 줄입니다.

<class 'str'>
7번째 줄입니다.

<class 'str'>
8번째 줄입니다.

<class 'str'>
9번째 줄입니다.

<class 'str'>
10번째 줄입니다.

<class 'str'>

In [59]:
# readlines.py
f = open("새파일.txt", 'r')
lines = f.readlines()
print(lines)

for line in lines:
    print(line)
    
f.close()

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']
1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [57]:
f = open("새파일.txt", 'r')
lines = f.readlines()
for line in lines:
    line = line.strip()  # 줄 끝의 줄 바꿈 문자를 제거한다.
    print(line)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [61]:
# read.py
f = open("새파일.txt", 'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

## 파일에 새로운 내용 추가하기

In [64]:
# add_data.py
f = open("새파일.txt",'a')
for i in range(11, 20):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [65]:
# file_with.py
with open("foo.txt", "w") as f:
    f.write("Life is too short, you need python")

In [66]:
f