## 051 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

순위	영화
1	닥터 스트레인지
2	스플릿
3	럭키

In [3]:
movie_rank=['닥터 스트레인지', '스플릿', '럭키']

In [4]:
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

## 052 051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [6]:
movie_rank.append('배트맨')

In [7]:
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

## 053 movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [8]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [11]:
movie_rank.insert(1, '슈퍼맨')

In [12]:
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

## 054 movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [13]:
del movie_rank[3]

In [14]:
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

## 055 movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [15]:
del movie_rank[2:]

In [16]:
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

## 056 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]   

실행 예:
langs
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [17]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [18]:
langs=lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

## 057 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]

실행 예:
max:  7
min:  1

In [36]:
nums = [1, 2, 3, 4, 5, 6, 7]

In [45]:
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

## 058 다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]

실행 예:
15

In [47]:
nums = [1, 2, 3, 4, 5]

In [49]:
print(sum(nums))

15

## 059 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [52]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [53]:
print(len(cook))

12

## 060 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
실행 예:
3.0

In [54]:
nums = [1, 2, 3, 4, 5]

In [56]:
print(sum(nums)/len(nums))

3.0

## 061 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]

출력 예시:   
[100, 130, 140, 150, 160, 170]

In [57]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [58]:
print(price[1:])

[100, 130, 140, 150, 160, 170]

## 062 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

실행 예:   
[1, 3, 5, 7, 9]

In [69]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
nums[::2]

[1, 3, 5, 7, 9]

## 063 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

실행 예:   
[2, 4, 6, 8, 10]

In [74]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
nums[1::2]

[2, 4, 6, 8, 10]

## 064 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]

실행 예:   
[5, 4, 3, 2, 1]

In [85]:
nums = [1, 2, 3, 4, 5]

In [90]:
print(nums[::-1])

[5, 4, 3, 2, 1]

## 065 interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']   
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:   
삼성전자 Naver

In [1]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [5]:
print(interest[0], interest[2])

삼성전자 Naver

## 066 interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']   
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:   
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [6]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [8]:
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

## 067 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']   
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:   
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [10]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [13]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

## 068 interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']   
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

출력 예시:   
삼성전자   
LG전자   
Naver   
SK하이닉스   
미래에셋대우

In [15]:
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

## 069 문자열 split 메서드
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"   
이를 interest 이름의 리스트로 분리 저장하라.

실행 예시   
print(interest)   
['삼성전자', 'LG전자', 'Naver']

In [16]:
string = "삼성전자/LG전자/Naver"

In [22]:
interest=list(string.split('/'))

In [23]:
print(interest)

['삼성전자', 'LG전자', 'Naver']

## 070 리스트 정렬
리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]

In [24]:
data = [2, 4, 3, 1, 5, 10, 9]

In [26]:
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

## 071
my_variable 이름의 비어있는 튜플을 만들라.

In [27]:
my_variable=()

In [28]:
type(my_variable)

tuple

## 072 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

순위	영화   
1	닥터 스트레인지   
2	스플릿   
3	럭키

In [30]:
movie_rank=('닥터 스트레인지', '스플릿', '럭키')

## 073 숫자 1 이 저장된 튜플을 생성하라.

In [31]:
a=(1, )

## 074 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1, 2, 3)   
t[0] = 'a'   
Traceback (most recent call last):   
  File "<pyshell#46>", line 1, in <module>   
    t[0] = 'a'   
TypeError: 'tuple' object does not support item assignment

튜플은 수정이 불가능한 immutable 자료형

## 075 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4

tuple

In [1]:
t = 1, 2, 3, 4

In [2]:
type(t)

tuple

## 076 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

In [3]:
t = ('a', 'b', 'c')

In [5]:
t=('A', 'b', 'c')

In [6]:
print(t)

('A', 'b', 'c')

## 077 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [7]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [8]:
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

## 078 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [9]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [10]:
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

## 079 튜플 언팩킹
다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')   
a, b, c = temp   
print(a, b, c)

apple banana cake

In [12]:
temp = ('apple', 'banana', 'cake')   
a, b, c = temp   
print(a, b, c)

apple banana cake

## 080 range 함수
1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

(2, 4, 6, 8 ... 98)

In [19]:
data= tuple(range(2, 100, 2))

In [20]:
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

## 081 별 표현식
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

a, b, *c = (0, 1, 2, 3, 4, 5)   

a
0

b
1

c
[2, 3, 4, 5]

다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [28]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [32]:
*valid_score, _, _ = scores

In [33]:
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

## 082 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [35]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [36]:
_, _, *valid_score=scores

In [37]:
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

## 083
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [38]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [39]:
_, *valid_score, _=scores

In [40]:
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

## 084 비어있는 딕셔너리
temp 이름의 비어있는 딕셔너리를 만들라.

In [41]:
temp={}

## 085
다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

이름	희망 가격   
메로나	1000   
폴라포	1200   
빵빠레	1800

In [43]:
icecream={'메로나':1000, '폴라포':1200, '빵빠레':1800}

## 086
085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

이름	희망 가격   
죠스바	1200   
월드콘	1500

In [50]:
icecream['죠스바']=1200

In [51]:
icecream['월드콘']=1500

In [52]:
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

## 087 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
       
실행 예:
메로나 가격: 1000

In [55]:
icecream.get('메로나')

1000

In [58]:
print('메로나 가격:', icecream['메로나'])

메로나 가격: 1000

## 088 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

In [59]:
icecream['메로나']=1300

In [60]:
print(icecream)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

## 089
다음 딕셔너리에서 메로나를 삭제하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

In [61]:
del icecream['메로나']

In [62]:
print(icecream)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

## 090
다음 코드에서 에러가 발생한 원인을 설명하라.

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

icecream['누가바']   
Traceback (most recent call last):   
  File "<pyshell#69>", line 1, in <module>   
    icecream['누가바']   
KeyError: '누가바'

icecream 딕셔너리에는 '누가바'라는 key가 없는데 인덱싱했으므로 에러 발생