#### 001 화면에 Hello World 문자열을 출력하세요.

In [1]:
print('Hello World')

Hello World

#### 002 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

#### 003 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
신씨가 소리질렀다. "도둑이야".

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

#### 004 화면에 C:\Windows를 출력하세요.

In [8]:
print('C:\Windows')

C:\Windows

#### 005 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [9]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\n은 줄바꿈, \t는 탭

#### 006 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print ("오늘은", "일요일")

오늘은 일요일 -> 이렇게 노출될 것이다.

In [10]:
print ("오늘은", "일요일")

오늘은 일요일

#### 007 print() 함수를 사용하여 다음과 같이 출력하세요.
naver;kakao;sk;samsung

In [19]:
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

#### 008 print() 함수를 사용하여 다음과 같이 출력하세요.
naver/kakao/sk/samsung

In [20]:
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

#### 009 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first");print("second")

In [23]:
print("first", end='');print("second")

firstsecond

#### 010 5/3의 결과를 화면에 출력하세요.

In [24]:
print(5/3)

1.6666666666666667

---

#### 011 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [30]:
삼성전자=50000
총평가금액=삼성전자*10

In [31]:
print(총평가금액)

500000

#### 012 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

항목	값
시가총액	298조
현재가	50,000원
PER	15.79

In [33]:
시가총액=298000000000000
현재가=50000
PER=15.79

In [34]:
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

#### 013 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"   
t = "python"

두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [36]:
s = "hello"   
t = "python"

In [39]:
print(s+'!', t)

hello! python

#### 014 아래 코드의 실행 결과를 예상해보세요.
2 + 2 * 3

8 -> 예상 실행결과

In [40]:
print(2 + 2 * 3 )

8

#### 015 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

a = 128   
print (type(a))   
<class 'int'>

아래 변수에 바인딩된 값의 타입을 판별해보세요.

a = "132"

string(문자열)로 판별

In [41]:
a = "132"
print(type(a))

<class 'str'>

#### 016 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

In [44]:
num_str = "720"
num_int=int(num_str)
print(num_int)

720

#### 017 정수 100을 문자열 '100'으로 변환해보세요.

num = 100

In [45]:
num=100

In [47]:
num_str=str(num)
print(num_str)

100

#### 018 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [48]:
str="15.79"
a=float(str)
print(a)

15.79

#### 019 year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

In [74]:
year="2020"
print(int(year)-1)
print(int(year)-2)
print(int(year)-3)

2019
2018
2017

#### 020 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [76]:
월요금=48584
총금액=월요금*36
print(총금액)

1749024

#### 021 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'   

실행 예   
p t

In [77]:
letters = 'python'   
print(letters[0], letters[2])

p t

#### 022 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"   
실행 예: 2210

In [79]:
license_plate = "24가 2210"   
print(license_plate[-4:])

2210

#### 023 아래의 문자열에서 '홀' 만 출력하세요.

string = "홀짝홀짝홀짝"   
실행 예:   
홀홀홀

In [83]:
string = "홀짝홀짝홀짝"   
print(string[::2])

홀홀홀

#### 024 문자열을 거꾸로 뒤집어 출력하세요.

string = "PYTHON"   

실행 예:   
NOHTYP

In [91]:
string = "PYTHON"
a=string[::-1]
print(a)

NOHTYP

#### 025 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

phone_number = "010-1111-2222"

실행 예   
010 1111 2222

In [93]:
phone_number = "010-1111-2222"
re=phone_number.replace('-',' ')
print(re)

010 1111 2222