#### 001 화면에 Hello World 문자열을 출력하세요.

In [1]:
print('Hello World')

Hello World

#### 002 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

#### 003 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
신씨가 소리질렀다. "도둑이야".

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

#### 004 화면에 C:\Windows를 출력하세요.

In [8]:
print('C:\Windows')

C:\Windows

#### 005 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [9]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\n은 줄바꿈, \t는 탭

#### 006 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print ("오늘은", "일요일")

오늘은 일요일 -> 이렇게 노출될 것이다.

In [10]:
print ("오늘은", "일요일")

오늘은 일요일

#### 007 print() 함수를 사용하여 다음과 같이 출력하세요.
naver;kakao;sk;samsung

In [19]:
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

#### 008 print() 함수를 사용하여 다음과 같이 출력하세요.
naver/kakao/sk/samsung

In [20]:
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

#### 009 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first");print("second")

In [23]:
print("first", end='');print("second")

firstsecond

#### 010 5/3의 결과를 화면에 출력하세요.

In [24]:
print(5/3)

1.6666666666666667

---

#### 011 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [30]:
삼성전자=50000
총평가금액=삼성전자*10

In [31]:
print(총평가금액)

500000

#### 012 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

항목	값
시가총액	298조
현재가	50,000원
PER	15.79

In [33]:
시가총액=298000000000000
현재가=50000
PER=15.79

In [34]:
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

#### 013 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"   
t = "python"

두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [36]:
s = "hello"   
t = "python"

In [39]:
print(s+'!', t)

hello! python

#### 014 아래 코드의 실행 결과를 예상해보세요.
2 + 2 * 3

8 -> 예상 실행결과

In [40]:
print(2 + 2 * 3 )

8

#### 015 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

a = 128   
print (type(a))   
<class 'int'>

아래 변수에 바인딩된 값의 타입을 판별해보세요.

a = "132"

string(문자열)로 판별

In [41]:
a = "132"
print(type(a))

<class 'str'>

#### 016 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

In [44]:
num_str = "720"
num_int=int(num_str)
print(num_int)

720

#### 017 정수 100을 문자열 '100'으로 변환해보세요.

num = 100

In [45]:
num=100

In [47]:
num_str=str(num)
print(num_str)

100

#### 018 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [48]:
str="15.79"
a=float(str)
print(a)

15.79

#### 019 year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

In [74]:
year="2020"
print(int(year)-1)
print(int(year)-2)
print(int(year)-3)

2019
2018
2017

#### 020 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [76]:
월요금=48584
총금액=월요금*36
print(총금액)

1749024

#### 021 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'   

실행 예   
p t

In [77]:
letters = 'python'   
print(letters[0], letters[2])

p t

#### 022 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"   
실행 예: 2210

In [79]:
license_plate = "24가 2210"   
print(license_plate[-4:])

2210

#### 023 아래의 문자열에서 '홀' 만 출력하세요.

string = "홀짝홀짝홀짝"   
실행 예:   
홀홀홀

In [83]:
string = "홀짝홀짝홀짝"   
print(string[::2])

홀홀홀

#### 024 문자열을 거꾸로 뒤집어 출력하세요.

string = "PYTHON"   

실행 예:   
NOHTYP

In [91]:
string = "PYTHON"
a=string[::-1]
print(a)

NOHTYP

#### 025 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

phone_number = "010-1111-2222"

실행 예   
010 1111 2222

In [3]:
phone_number = "010-1111-2222"
re=phone_number.replace('-',' ')
print(re)

010 1111 2222

#### 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

실행 예   
01011112222

In [7]:
mo=phone_number.replace('-','')
print(mo)

01011112222

#### 027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"   

실행 예:   
kr

In [12]:
url = "http://sharebook.kr"  
url_split=url.split('.')
print(url_split[-1])

kr

#### 028 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.

lang = 'python'   
lang[0] = 'P'   
print(lang)

문자열은 수정이 불가능하므로, error가 발생한다

In [21]:
lang = 'python'   
lang[0] = 'P'   
print(lang)

TypeError: 'str' object does not support item assignment

#### 029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'

실행 예:    
Abcdfe2A354A32A

In [22]:
string = 'abcdfe2a354a32a'
string=string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

#### 030 replace 메서드
아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'     
string.replace('b', 'B')   
print(string)

string을 그대로 출력하는 것이므로 'abcd'노출

In [23]:
string = 'abcd'     
string.replace('b', 'B')   
print(string)

abcd

#### 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

a = "3"   
b = "4"   
print(a + b)

34 -> 이렇게 노출된다.

In [24]:
a = "3"   
b = "4"   
print(a + b)

34

#### 032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

HiHiHi -> 이렇게 노출된다.

In [26]:
print("Hi" * 3)

HiHiHi

#### 033 문자열 곱하기
화면에 '-'를 80개 출력하세요.

In [27]:
print('-'*80)

--------------------------------------------------------------------------------

#### 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'   
t2 = 'java'   
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:   
python java python java python java python java

In [28]:
t1 = 'python'   
t2 = 'java'

In [40]:
a=t1+' '+t2+' '
print(a*4)

python java python java python java python java

#### 035 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수"   
age1 = 10   
name2 = "이철희"   
age2 = 13   
이름: 김민수 나이: 10   
이름: 이철희 나이: 13

In [41]:
name1 = "김민수"   
age1 = 10   
name2 = "이철희"   
age2 = 13

In [47]:
print('이름: %s 나이: %d' %(name1, age1))
print('이름: %s 나이: %d' %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

#### 036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [50]:
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

#### 037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [54]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

#### 038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"

In [55]:
상장주식수 = "5,969,782,550"

In [56]:
컴마제거=상장주식수.replace(',', '')
print(int(컴마제거))

5969782550

#### 039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

In [57]:
분기 = "2020/03(E) (IFRS연결)"

In [60]:
print(분기[:7])

2020/03

#### 040 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

In [62]:
data = "   삼성전자    "
print(data.strip())

삼성전자

#### 041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

In [63]:
ticker = "btc_krw"

In [64]:
print(ticker.upper())

BTC_KRW

#### 042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"

In [65]:
print(ticker.lower())

btc_krw

#### 043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [70]:
a='hello'
print(a.capitalize())

Hello

#### 044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [75]:
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

#### 045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [87]:
file_name.endswith(('xlsx', 'xls'))

True

#### 046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

In [93]:
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

#### 047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"

In [95]:
a = "hello world"
a.split()

['hello', 'world']

#### 048 split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

In [97]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

#### 049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"

In [100]:
date = "2020-05-01"
year=date.split('-')[0]
month=date.split('-')[1]
day=date.split('-')[2]

print(year, month, day)

2020 05 01

#### 050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "

In [103]:
data = "039490     "
print(data.rstrip())

039490